.mat-tab-group {
    margin-bottom: 70px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: normal;
}
nav :hover{
    background-color: rgb(89, 163, 232);
    text-align: right;
}